.wcl-slideshow-container {
  box-sizing: border-box;
  width: 640px;
  height: 480px;
  background: lightblue;
}
.wcl-slideshow-container img {
  width: 100%;
  height: auto;
  display: none;
  position: relative;
}
.wcl-slideshow-container img.fitwidth {
  width: 100%;
  height: auto;
}
.wcl-slideshow-container img.fitheight {
  height: 100%;
  width: auto;
}
